:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Arial';
  src: url('/public/fonts/arial/ARIAL.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/public/fonts/aeonik/Aeonik-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-attachment: scroll;
}


body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  scroll-behavior: smooth;
}

.navbar {
  z-index: 100;
  grid-column-gap: 1vw;
  grid-row-gap: 0px;
  background-color: #fff;
  width: 100%;
  height: 46px;
  padding: 0 1vw;
  position: fixed;
  top: 0;
}

.nav-inner {
  column-gap: 1dvw;
}

.nav-logo {
  width: 1.5rem;
  max-width: 100%;
  display: inline-block;
}

.nav-info {
  color: #1d1d1d;
  white-space: nowrap;
  cursor: default;
  font-family: Aeonik, sans-serif;
  font-size: 1vw;
  line-height: 120%;
  text-decoration: none;
}

.nav-link {
  color: #1d1d1d;
  white-space: nowrap;
  font-family: Aeonik, sans-serif;
  font-size: 1vw;
  line-height: 120%;
  text-decoration: none;
  cursor: pointer;
}

.header {
  aspect-ratio: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.module-hero {
  padding-left: 1vw;
  padding-right: 1vw;
}

.text-studio-indent {
  margin-left: 25%;
}

.full-video {
  box-sizing: border-box;
  aspect-ratio: 2;
  object-fit: cover;
  background-color: #f5f4f2;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: block;
  overflow: hidden;
}

.w-embed::before, 
.w-embed::after {
    content: " ";
    /* grid-area: 1 / 1 / 2 / 2; */
    display: table;
}

.w-inline-block {
  max-width: 100%
}

.hero {
  color: #1d1d1d;
  letter-spacing: -.1vw;
  white-space: normal;
  cursor: default;
  font-family: Aeonik, sans-serif;
  font-size: 4.4vw;
  line-height: 100%;
  display: inline;
}

.project-block-title {
  color: #fff;
  cursor: none;
  font-size: 1dvw;
  line-height: 140%;
  text-decoration: none;
  transition: opacity .2s;
  overflow: hidden;
}

.project-name-container {
  column-gap: 0.6vw;
  row-gap: 0.6vw;
  justify-content: flex-start;
  align-items: center;
  width: 15dvw;
  display: flex;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.studio-h4 {
  color: #1d1d1d;
  text-align: left;
  cursor: default;
  font-family: Aeonik, sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 130%
}

.studio-h4.expertise-h3 {
  font-size: 4vw;
  line-height: 100%;
}

.studio-h4.expertise-p {
  font-size: 1vw;
}

.hero-link {
  color: #fff;
  text-align: center;
  vertical-align: text-bottom;
  background-color: #1d1d1d;
  border-radius: 2vw;
  justify-content: center;
  align-items: center;
  margin-left: 1.4vw;
  padding: .8vw 1.4vw;
  font-family: Aeonik, sans-serif;
  font-size: 1vw;
  text-decoration: none;
  display: inline-block;
}

.hero-link:hover {
  color: #1d1d1d;
  background-color: #e5e5e5;
}

.hero-slider-container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1vw;
}

.hero-video-container::before {
  content: " ";
  display: table;
}

.overflow-overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.transition-opacity {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.no-opacity {
  opacity: 0;
  pointer-events: none;
}

.full-opacity {
  opacity: 1;
}


.home-video-container {
  justify-content: center;
  border-radius: .5rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.landscape {
  max-width: 64vw;
  height: 100%
}

.portrait {
  max-width: 33vw;
  height: 100%
}

.work-title {
  pointer-events: none;
  letter-spacing: -.2vw;
  text-transform: uppercase;
  white-space: nowrap;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-size: 7vw;
  line-height: .9;
  overflow: hidden;
}

.work-title.gray {
  color: #E5E5E5
}

.work-title.projects-title {
  font-size: 1vw;
  line-height: 110%;
  transition: opacity .2s;
  overflow: hidden;
  color: #1d1d1d
}

.work-title.mr-drag {
  margin-right: 4vw;
}

.text {
  font-family: Aeonik, sans-serif;
  cursor: default;
  color: #1d1d1d;
}

.text.description-info-awards {
  font-size: .9vw;
  line-height: 1.1vw;
}

.text.label-info-awards {
  color: #1d1d1d4d;
}

.work-h4 {
  font-size: 1vw;
  line-height: 130%;
}

.work-h4.gray {
  color: #9a9a9a;
}

.logo-marquee {
  max-width: 26vw;
}

.expertise-container {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  cursor: auto;
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  transition: padding .4s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  overflow: hidden;
}

.expertise-container.blue,
.expertise-container.magenta,
.expertise-container.green {
  transition: background-color .4s 
    cubic-bezier(.23, 1, .32, 1), padding .4s 
    cubic-bezier(.23, 1, .32, 1);
}

.expertise-container.blue:hover {
  background-color: #d5f2f6;;
}

.expertise-container.magenta:hover {
  background-color: #fbefff;;
}

.expertise-container.green:hover {
  background-color: #e5f4e1;
}

.expertise-image-container {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  border-radius: 8px;
  flex-flow: column;
  flex: 1;
  align-items: flex-start;
  width: 100%;
  transition: padding .4s cubic-bezier(.23, 1, .32, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.expertise-image-container:hover {
  padding: 1.4vw
}

.brands-block-container {
  object-fit: fill;
  border-radius: 8px;
  align-items: flex-start;
  width: 100%;
  height: 15vw;
  overflow: hidden;
}

.single-brand-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
}

.single-brand-logo {
  z-index: 1;
  width: 100%;
  max-width: 65%;
  position: relative;
}

.single-brand-hover {
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Different colors for different brands */
.single-brand-hover._01 {
  background: #007bff;
}

.single-brand-hover._02 {
  background: #ff3008;
}

.single-brand-hover._03 {
  background: #5286ed;
}

.single-brand-hover._04 {
  background: #e61d2b;
}

.single-brand-hover._05 {
  background: #1db954;
}

.single-brand-hover._06 {
  background: #2259C2;
}

.single-brand-hover._07 {
  background: #ec3f43;
}

.single-brand-hover._08 {
  background: #000;
}

/* Hover state */
.single-brand-container:hover .single-brand-hover {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}

.w-node_01 {
  grid-area: span 2 / span 1 / span 2 / span 1
}

.w-node_02 {
  grid-area: 1 / 7 / 3 / 8
}

.w-node_03 {
  grid-area: 1 / 8 / 3 / 9
}

.w-node_04 {
  grid-area: 1 / 10 / 2 / 13
}

.w-node_05 {
  grid-area: 2 / 10 / 3 / 13;
}

.footer-links-container {
  grid-column-gap: .7vw;
  grid-row-gap: .7vw;
  flex-flow: column;
  align-items: flex-start;
  padding-left: .5vw;
  display: flex;
}

.footer-links.gray {
  color: #9a9a9a;
  cursor: default;
}

.footer-links {
  transition: opacity .2s;
}

.splide__pagination {
  position: relative !important;
  bottom: 0 !important;
  margin: 0;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin-top: 2vw;
  height: 6px;
  overflow: hidden;
}

.module-slider {
  padding-top: 8dvw;
  padding-bottom: 8dvw;
}

.portfolio-container {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  align-items: flex-start;
  display: flex;
}

.inner-video {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}

.work-tags-container {
  z-index: 5;
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  position: absolute;
}



.module-blocks {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  flex-flow: column;
  padding-top: 4vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
}

.work-plus {
  display: block;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-left: 2dvw;
    padding-right: 2dvw;
  }

  .nav-inner {
    column-gap: 1.6dvw;
  }

  .nav-link {
    font-size: 1.6vw;
  }

  .hero {
    font-size: 7vw;
    display: block;
    margin-bottom: 4vw;
  }

  .word {
    display: inline-block;
  }

  .studio-h4 {
    width: auto;
    margin-top: .4vw;
    font-size: 2.2vw;
  }

  .hero-link {
    border-radius: 3vw;
    width: 50%;
    margin-left: 0;
    padding-top: 1.6vw;
    padding-bottom: 1.6vw;
    font-size: 2vw;
    display: block;
  }

  .hero-slider-container {
    padding-left: 0;
  }

  .hero-slider {
    cursor: auto;
    padding-left: 2dvw;
    padding-right: 10dvw;
  }

  
  .module-slider {
    padding-top: 14dvw;
    padding-bottom: 14dvw;
  }

  .work-title {
    font-size: 9vw;
  }

  .work-title.mr-drag {
    margin-right: 6vw;
  }

  .splide__pagination {
    gap: 2vw;
    margin-top: 3vw !important;
  }

  .splide__pagination li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .splide__pagination li .splide__pagination__page.is-active {
    background: #1D1D1D;
  }

  .splide__pagination li .splide__pagination__page {
    width: 100%;
    height: 100%;
    padding: 0;
    background: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
  }

  .slide__list {
    padding-right: 15%;
  }

  .logo-marquee {
    max-width: 50vw;
  }

  .label-info-awards {
    font-size: 1.2vw;
    line-height: 1.4;
  }

  .text.description-info-awards {
    width: 70%;
    font-size: 1.3vw !important;
    line-height: 1.5vw !important;
  }

  .brands-block-container {
    height: 16.875rem
  }

  .w-node_01 {
    grid-row: span 1 / span 4 / span 1 / span 4;
  }

  .w-node_02 {
    grid-row-end: 2;
    grid-column: 5 / 9;
  }

  .w-node_03 {
    grid-column: 9 / 13;
  }

  .w-node_04 {
    grid-area: 2 / 5 / 3 / 9;
  }

  .w-node_05 {
    grid-area: 2 / 9 / 3 / 13;
  }

  .footer-links {
    font-size: 2.4vw;
  }

  .footer-links-container {
    grid-column-gap: 1.2vw;
    grid-row-gap: 1.2vw;
  }

  .landscape {
    background-color: rgba(0, 0, 0, 0);
    justify-content: flex-start;
    align-items: center;
  }

  .portfolio-container {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    justify-content: center;
    align-items: center;
  }

  .home-video-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .inner-video {
    aspect-ratio: 3 / 2;
    overflow: hidden;
  }

  .work-tags-container {
    padding-left: 0px;
    padding-right: 0px;
    position: static;
  }

  .project-name-container {
    column-gap: 1.2dvw;
    row-gap: 1.2dvw;
    width: auto;
  }

  .project-block-title {
    color: #000;
  }

  .work-plus {
    display: none;
  }


  .work-tags-title {
    white-space: wrap;
  }

  .work-description {
    color: #a0a0a0;
    text-transform: uppercase;
    font-size: 1.2dvw;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-left: 2.4dvw;
    padding-right: 2.4dvw;
  }

  .nav-inner {
    column-gap: 2.4dvw;
  }

  .nav-link {
    font-size: 2.4dvw;
  }

  .module-hero {
    padding-left: 2dvw;
    padding-right: 2dvw;
  }

  .hero-slider {
    padding-right: 2dvw;
  }

  .text-studio-indent {
    margin-left: 40%;
  }

  .hero-link {
    border-radius: 4dvw;
    padding-top: 2dvw;
    padding-bottom: 2dvw;
    font-size: 2.4dvw;
  }

  .work-title {
    font-size: 14vw;
  }

  .description-info-awards {
    font-size: 1.4vw !important;
    line-height: 1.7vw !important;
  }

  .w-node_01 {
    grid-area: span 1 / span 1 !important;
  }

  .w-node_02,
  .w-node_02 {
    grid-row-end: 2 !important;
  }

  .w-node_04 {
    grid-row: 2 / 3 !important;
    grid-column-end: 13 !important;
  }

  .w-node_05 {
    grid-area: 3 / 5 / 4 / 13 !important;
  }

  .module-blocks {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    padding-top: 6vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .landscape {
    width: 100%;
    max-width: unset;
  }

  .portrait {
    width: 100%;
    max-width: unset;
  }

  .portfolio-container {
    grid-column-gap: 8vw;
    grid-row-gap: 8vw;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6vw;
  }

  .work-tags-container {
    padding-top: 2dvw;
  }

  .project-name-container {
    column-gap: 1.4dvw;
    row-gap: 1.4dvw;
  }

  .project-block-title {
    font-size: 3.6dvw;
  }

  .work-description {
    font-size: 1.8dvw;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-left: 4dvw;
    padding-right: 4dvw;
  }

  .nav-link {
    font-size: 4dvw;
  }

  .module-hero {
    margin-bottom: 12dvw;
    padding-left: 4dvw;
    padding-right: 4dvw;
  }

  .hero-link {
    border-radius: 6dvw;
    width: 100%;
    padding: 3.2dvw 2.8dvw;
    font-size: 4dvw;
  }

  .hero-slider {
    padding-left: 4dvw;
    padding-right: 4dvw;
  }

  .module-slider {
    padding-top: 20dvw;
    padding-bottom: 20dvw;
  }

  .module-blocks {
    grid-column-gap: 2dvw;
    grid-row-gap: 2dvw;
    padding-top: 8dvw;
    padding-left: 4dvw;
    padding-right: 4dvw;
  }

  .home-video-container {
    margin-bottom: 4dvw;
  }

  .portfolio-container {
    grid-column-gap: 6vw;
    grid-row-gap: 6vw;
    margin-bottom: 4vw;
  }

  .portrait {
    aspect-ratio: auto;
  }

  .work-tags-container {
    padding-top: 4dvw;
  }

  .project-block-title {
    font-size: 4.8dvw;
  }

  .work-description {
    font-size: 2.4dvw;
  }
}